<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>{{ .Title }} - {{ .Site.Title }}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">
  <meta name="keywords" content="">
  <link rel="canonical" href="{{ .Permalink }}">

  <!-- Custom CSS -->
  <link rel="stylesheet" type="text/css" href="{{ .Site.BaseUrl }}/css/combined-min.css">

  <!-- Highlight -->
  <link rel="stylesheet" type="text/css" href="{{ .Site.BaseUrl }}/css/highlight/styles/railscasts-min.css">

  <!-- Fonts -->
  <link rel='stylesheet' type='text/css' href='//fonts.googleapis.com/css?family=Ubuntu:400,700,400italic,700italic&subset=latin,cyrillic-ext,cyrillic'>
  <link rel='stylesheet' type='text/css' href='//fonts.googleapis.com/css?family=Lato:900,300'>

</head>
<body class="">
