<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>{{ .Site.Title }} | {{ .Title }}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">
  <meta name="keywords" content="">
  <link rel="canonical" href="{{ .Permalink }}">


  <!-- Custom CSS -->
  <link rel="stylesheet" type="text/css" href="{{ .Site.BaseUrl }}/css/basscss.css">
  <link rel="stylesheet" type="text/css" href="{{ .Site.BaseUrl }}/css/main.css">

  <!-- Fonts -->
  <link href='http://fonts.googleapis.com/css?family=Ubuntu:400,700,400italic,700italic&subset=latin,cyrillic-ext,cyrillic' rel='stylesheet' type='text/css'>
  <link rel='stylesheet' type='text/css' href='//fonts.googleapis.com/css?family=Lato:900,300'>

  <!-- Highlight -->
  <link rel="stylesheet" href="{{ .Site.BaseUrl }}/css/highlight/styles/solarized_dark.css">
  <script src="/css/highlight/highlight.pack.js"></script>
  <script>hljs.initHighlightingOnLoad();</script>

</head>
<body class="">
