<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>{{ .Site.Title }} | {{ .Title }}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">
  <meta name="keywords" content="">
  <link rel="canonical" href="{{ .Permalink }}">


  <!-- Custom CSS -->
  <link rel="stylesheet" type="text/css" href="{{ .Site.BaseUrl }}/css/basscss.css">
  <link rel="stylesheet" type="text/css" href="{{ .Site.BaseUrl }}/css/main.css">
  <link rel="stylesheet" type="text/css" href="{{ .Site.BaseUrl }}/css/solarized-dark.css">

  <!-- Fonts -->
  <link rel='stylesheet' type='text/css' href='http://fonts.googleapis.com/css?family=Merriweather:900,900italic,300,300italic'>
  <link rel='stylesheet' type='text/css' href='http://fonts.googleapis.com/css?family=Lato:900,300'>
</head>
<body class="">
