{{ $currentPage := . }}
{{ range .Site.Menus.main }}
    <a class="nav-item{{if or ($currentPage.IsMenuCurrent "main" .) ($currentPage.HasMenuCurrent "main" .) }} active{{end}}" href="{{.URL}}">{{ .Name }}</a>
{{ end }}

{{ if .Site.Taxonomies.tags }}
<a href="{{ .Site.BaseURL }}{{ .Site.LanguagePrefix }}/tags/">{{ i18n "tags" }}</a>
{{ end }}
{{- if .Site.IsMultiLingual -}}
{{- range $lang := .Site.Languages -}}
{{- if ne $.Site.Language $lang -}}
<a href="/{{ $lang }}">{{ $lang }}</a>
{{- end -}}
{{- end -}}
{{- end -}}
{{ if isset .Site.Params "search_engine" }}
<form class="navbar-search" action="{{ .Site.BaseURL }}/search/index.html"
    onsubmit="return validateForm(this.elements['q'].value);">
    <input type="text" class="search-query" placeholder="{{ i18n "search" }}" name="q" id="tipue_search_input">
{{ end }}
</form>
